<%- include('partials/header'); -%>
<div class="row">
  <% videos.forEach(function(vid,index){ %>
  <div class="card col-lg-4 col-md-4" style="width: 18rem;">
    <img src="<%=vid.vidThumb %>" alt="..." class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%=vid.vidName %></h5>
      <div class="details-div">
      <i class="fa-solid fa-heart"></i>
      <p><%= vid.likes %></p>
      <label for="">views</label>
      <p class= "bg-light"><%= vid.views %></p>
      </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% })%>
</div>
<script src="https://kit.fontawesome.com/231bca5e25.js" crossorigin="anonymous"></script>
<%- include('partials/footer'); -%>
